[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pandas = "*"
django = "*"
django-heroku = "*"
gunicorn = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 is installed = "*"


[dev-packages]



[requires]

python_version = "3.6"
