
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pokemon Battle !!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="view.py"></script>
</head>
<body>
   <h1>Select Pokemon</h1>
    <form action="/action_page.php">
     <select name="cars">
      <option value="Charmander">Charmander</option>
      <option value="Bulbasaur">Bulbasaur</option>
      <option value="Ivysaur">Ivysaur</option>
      <option value="Venusaur">Venusaur</option>
     </select>
     <select name="cars">
      <option value="Charmeleon">Charmeleon</option>
      <option value="Charizard">Charizard</option>
      <option value="Squirtle">Squirtle</option>
      <option value="Wartortle">Wartortle</option>
     </select>
     <input type="submit" value="Submit">
    </form>

    <p>Please choose pokemon to predict their battle!</p>
</body>
</html>
