<div>
        <table>
                <tr>
                  <th>Type_1</th>
                  <th>Type_2</th>
                  <th>Hp</th>
                  <th>Attack</th>
                  <th>Defense</th>
                  <th>Special Attack</th>
                  <th>Special Defense</th>
                  <th>Speed</th>
                  <th>Generation</th>
                  <th>Legendary</th>  
                </tr>
                <tr>
                  <td><span>{{ details.type_1 }}</span></td>
                  <td><span>{{ details.type_2 }}</span></td>
                  <td><span>{{ details.hp }}</span></td>
                  <td><span>{{ details.attack }}</span></td>
                  <td><span>{{ details.defense }}</span></td>
                  <td><span>{{ details.sp_attack }}</span></td>
                  <td><span>{{ details.sp_defense }}</span></td>
                  <td><span>{{ details.speed }}</span></td>
                  <td><span>{{ details.generation }}</span></td>
                  <td><span>{{ details.legendary }}</span></td>
                </tr>
              </table>
</div>