<div>
  <table>

    <tr>
      <th>Type_1</th>
      <td><span>{{ details.type_1 }}</span>
    </tr>
    <tr>
      <th>Type_2</th>
      <td><span>{{ details.type_2 }}</span>
    </tr>
    <tr>
      <th>HP</th>
      <td><span>{{ details.hp }}</span>
    </tr>
    <tr>
      <th>Attack</th>
      <td><span>{{ details.attack }}</span>
    </tr>
    <tr>
      <th>Defense</th>
      <td><span>{{ details.defense }}</span>
    </tr>
    <tr>
      <th>Special Attack</th>
      <td><span>{{ details.sp_attack }}</span>
    </tr>
    <tr>
      <th>Special Defense</th>
      <td><span>{{ details.sp_defense }}</span>
    </tr>
    <tr>
      <th>Speed</th>
      <td><span>{{ details.speed }}</span>
    </tr>
    <tr>
      <th>Generation</th>
      <td><span>{{ details.generation }}</span>
    </tr>
    <tr>
      <th>Lengendary</th>
      <td><span>{{ details.lengendary }}</span>
    </tr>
  </table>
</div>