<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pokemon Battle !!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'battle/pokemon.css' %}" />
</head>
<h2>result</h2>
<h2>Probability {{p1}} will win is {{p1_prob}}%</h2>
<h2>Probability {{p2}} will win is {{p2_prob}}%</h2>
