body {
  background-color: #318dba;
  color: black;
  font-family: 'VT323', monospace;
  align-items: center;
  font-size: 20px;
  text-align: center;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: white;
}

.wrapper {
  background-color: #aaa;
  display: flex;
  padding-bottom: 30px;
}

button {
  margin-top: 3%;
  border-radius: 10%;
  width: 15%;
  padding: 10px 0;
  font-size: 30px;
  font-family: VT323;
  color: white;
  background-color: blue;
}

button:hover {
  background-color: red;
}

form .left {
  float: left;
  width: 50%;
}

form .right {
  float: right;
  width: 50%;
}

table {
  border: solid 2px black;
}

span {
  margin: 10px 10px;
}

select {
  background-color: white;
  border: none;
  border-radius: 0%;
  font-size: 20px;
  font-family: 'VT323', monospace;
  margin: 5% 0 5% 0%;
}

.image {
  display: flex;
  margin-right: 10;
}

#pk1_img {
  margin: 0 auto;
}

#pk2_img {
  margin: 0 auto;
}

#pk1_details {
  margin: 0 auto;
  margin-right: 10px;
}

#pk2_detail {
  margin: 0 auto;
  margin-right: 10px;
}

#results {
  color: white;
}

img {
  padding: 10px 10px 10px 10px;
}
