body {
    background-color: black;
    color: white;
    font-family: 'VT323', monospace;
}

h1{
    font-size: 40px;
    width: 500px;
    margin: 30px 150px 10px 150px;
}

.wrapper {
  margin: 100px;
  background-color: red;
}

input {
    background-color: red;
}
