body {
  background-color: black;
  color: white;
  font-family: 'VT323', monospace;
  align-items: center;
}

h1 {
  font-size: 40px;
}

.wrapper {
  background-color: red;
  display: flex;
}

button {
  margin-top: 3%;
  border-radius: 10%;
  width: 15%;
  padding: 10px 0;
  font-size: 30px;
  font-family: VT323;
  margin-left: 38%;
  color: white;
  background-color: blue;
}

form .left {
  float: left;
  width: 50%;
}

form .right {
  float: right;
  width: 50%;
}

table, td {
  border: solid 1px black;
}

select {
  margin: 5% 0 5% 25%;
}

.image {
  display: flex;
}